#Team 8
#Krishna Veer Singh - 202211048
#Samaksh Gupta - 202211047
#Madhavi Aghera - 202211049
#Dhruvi Shah - 202211032

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Preprocessing of "reviews.json"

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from nltk.stem import PorterStemmer
import math
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords 
from nltk.tokenize import RegexpTokenizer
import nltk
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.preprocessing import StandardScaler
import os 
from ast import literal_eval
from sklearn.metrics.pairwise import linear_kernel
import warnings
from textblob import TextBlob

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [3]:
import json
# Opening JSON file
f = open('/content/drive/MyDrive/RS_2_final/reviews.json')
# data = json.load(f) 
x = f.readlines()

In [4]:
print(len(x))

11453845

###For rows between 0-2000001

In [5]:
final_dict = {}
for i in range(0,2000000):
  d = eval(x[i])
  final_dict[i] = d

In [6]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index') 
df1.head()

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId
0,3.0,an lam,Ch·∫•t l∆∞·ª£ng t·∫°m ·ªïn,[Gi·∫£i Tr√≠ - Caf√©],108103314380004200232,1.372687e+09,"Jul 1, 2013",100000010817154263736
1,5.0,HALƒ∞L TURGUT,Wc si temiz duzenli..,[Turkish Cuisine],102194128241608748649,1.342871e+09,"Jul 21, 2012",100000013500285534661
2,5.0,Ê£ÆÁî∞„Åï„Å®„Åì,‰ΩïÂõû„ÇÇÁßÅ„ÅØ‰∫àÂÆö„Å´‰ºë„Åø„Åå„Çª„É´„Éê„Å´Ë°å„Å£„Åü„ÅÆ„ÅßË¶ö„Åà„Å¶Ë¶ã„Å¶„ÄÅÂàÜ„Åã„Çä„Åæ„Åô‚ùó,"[Fishing, Pond Fish Supplier, Seafood Market]",101409858828175402384,1.390654e+09,"Jan 25, 2014",100000021336848867366
3,5.0,Ê£ÆÁî∞„Åï„Å®„Åì,‰ªäÂ∫¶„ÅØ‰∫àÂÆö„Å´‰ºë„Åø„ÅåÁôªÁ±≥Â∏Ç„Å´Ë°å„Åç„Åü„ÅÑ‚ùó‚òÄüòÖüåå Ê•Ω„Åó„ÅÑ„Å´Êó•Â∏∞„Çä„Å´ÁôªÁ±≥„ÅÆË¶ãÂ≠¶„ÅÆË¶≥ÂÖâ(*^)(*^-...,[Museum],101477177500158511502,1.389188e+09,"Jan 8, 2014",100000021336848867366
4,4.0,Ê£ÆÁî∞„Åï„Å®„Åì,Ê∞ó‰ªôÊ≤ºË≠¶ÂØüÁΩ≤„Å´ÁßªËª¢‰∏≠„Å´ÁµÜ üëÆüêé‚ò∫üôãüöìÈ†ëÂºµ„Çç„ÅÜ‚ùó,[Police],106994170641063333085,1.390486e+09,"Jan 23, 2014",100000021336848867366

In [7]:
df1.shape

(2000000, 8)

In [8]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [9]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))
print("Sentiment Counts: \n", df1['sentiment'].value_counts())

Sentiment Counts:
 positive    812272
neutral     171115
negative    126214
Name: sentiment, dtype: int64

In [10]:
df1.shape

(1109601, 9)

In [11]:
df1.head()

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId,sentiment
1,5.0,HALƒ∞L TURGUT,Wc si temiz duzenli..,[Turkish Cuisine],102194128241608748649,1.342871e+09,"Jul 21, 2012",100000013500285534661,neutral
13,4.0,william spindler,Best War Wanton soup in Red Bluff,"[Asian Restaurant, Chinese Restaurant]",106591714648856494903,1.394669e+09,"Mar 12, 2014",100000032416892623125,positive
14,5.0,william spindler,This is a review that is long overdo. I've bee...,"[European Restaurant, Italian Restaurant, Pizz...",109420033090810328045,1.394826e+09,"Mar 14, 2014",100000032416892623125,positive
15,5.0,william spindler,"Some authentic rub BBQ, great food and don't m...",[Barbecue Restaurant],111623070919810985923,1.394671e+09,"Mar 12, 2014",100000032416892623125,positive
16,4.0,william spindler,Truly a Red Bluff standard. Great old fashione...,[Restaurant],113854191152597312098,1.394670e+09,"Mar 12, 2014",100000032416892623125,positive

In [12]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews1")

###For rows between 2000001-4000000

In [ ]:
final_dict = {}
for i in range(2000001,4000000):
  d = eval(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index')

In [ ]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [ ]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))

In [ ]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews2")

###For rows between 4000001-6000000

In [ ]:
final_dict = {}
for i in range(4000001,6000000):
  d = eval(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index')

In [ ]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [ ]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))

In [ ]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews3")

###For rows between 6000001-8000000

In [ ]:
final_dict = {}
for i in range(6000001,8000000):
  d = eval(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index')

In [ ]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [ ]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))

In [ ]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews4")

###For rows between 8000001-10000000

In [ ]:
final_dict = {}
for i in range(8000001,10000000):
  d = eval(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index')

In [ ]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [ ]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))

In [ ]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews5")

###For rows between 10000001-11453845

In [ ]:
final_dict = {}
for i in range(10000001,11453845):
  d = eval(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index')

In [ ]:
# df1 = df1[df1['reviewerName'].map(lambda x: x.isascii())]
df1 = df1.loc[~df1['reviewText'].isnull()]
df1 = df1[df1['reviewText'].map(lambda x: x.isascii())]

In [ ]:
#Considering only Positive Reviews
df1['sentiment'] = df1['reviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['sentiment'] = df1['sentiment'].apply(lambda x: 'positive' if x > 0 else ('negative' if x < 0 else 'neutral'))

In [ ]:
df1.to_csv("/content/drive/Shareddrives/RS/LA02/Reviews/Reviews6")

#Read Preproced Data

In [ ]:
df1 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews1.csv', lineterminator='\n')

In [ ]:
df1.shape

(1109601, 10)

In [ ]:
df2 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews2.csv', lineterminator='\n')

In [ ]:
df2.shape

(1109506, 10)

In [ ]:
df3 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews3.csv', lineterminator='\n')

In [ ]:
df3.shape

(1117139, 10)

In [ ]:
df4 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews4.csv', lineterminator='\n')

In [ ]:
df4.shape

(1115547, 10)

In [ ]:
df5 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews5.csv', lineterminator='\n')

In [ ]:
df5.shape

(1112019, 10)

In [ ]:
df6 = pd.read_csv('/content/drive/Shareddrives/RS/LA02/Reviews/Reviews6.csv', lineterminator='\n')

In [ ]:
df6.shape

(814713, 10)

In [ ]:
frames = [df1, df2, df3, df4, df5, df6]
result = pd.concat(frames, axis=0)
result.to_csv('/content/drive/Shareddrives/RS/LA02/Reviews/reviews_merged_123456.csv')

In [ ]:
result.shape

(6378525, 10)

In [ ]:
result

,Unnamed: 0,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId,sentiment
0,1,5.0,HALƒ∞L TURGUT,Wc si temiz duzenli..,['Turkish Cuisine'],102194128241608748649,1.342871e+09,"Jul 21, 2012",100000013500285534661,neutral
1,13,4.0,william spindler,Best War Wanton soup in Red Bluff,"['Asian Restaurant', 'Chinese Restaurant']",106591714648856494903,1.394669e+09,"Mar 12, 2014",100000032416892623125,positive
2,14,5.0,william spindler,This is a review that is long overdo. I've bee...,"['European Restaurant', 'Italian Restaurant', ...",109420033090810328045,1.394826e+09,"Mar 14, 2014",100000032416892623125,positive
3,15,5.0,william spindler,"Some authentic rub BBQ, great food and don't m...",['Barbecue Restaurant'],111623070919810985923,1.394671e+09,"Mar 12, 2014",100000032416892623125,positive
4,16,4.0,william spindler,Truly a Red Bluff standard. Great old fashione...,['Restaurant'],113854191152597312098,1.394670e+09,"Mar 12, 2014",100000032416892623125,positive
...,...,...,...,...,...,...,...,...,...,...
814708,11453827,2.0,charles mckinney,Too expensive for a fast food burger.,"['Hamburger Restaurant', 'Fast Food Restaurant']",116458473784504954830,1.364706e+09,"Mar 30, 2013",118446742455312620560,negative
814709,11453829,2.0,charles mckinney,Too many gangs frequent this place.,['Flea Market'],116649125736549598195,1.367212e+09,"Apr 28, 2013",118446742455312620560,positive
814710,11453834,1.0,charles mckinney,i will never go back. food and customer servic...,"['Buffet Restaurant', 'American Restaurant']",117952004983617019485,1.315602e+09,"Sep 9, 2011",118446742455312620560,negative
814711,11453839,2.0,–ú–∞—Ä—Ç–∏–Ω –ú–∏–ª—á–µ–≤—Å–∫–∏,Doesn't work.,['Post Office'],107994784120920658841,1.343432e+09,"Jul 27, 2012",118446743512419806874,neutral
814712,11453843,5.0,Karen Martin,The MOST amazing homemade ice cream in North W...,NaN,106919006909432779494,NaN,NaN,118446743745545869532,positive

#Preprocessing of "users.json"

In [ ]:
path = "/content/drive/MyDrive/RS_2_final/users.json"

In [ ]:
def clean_and_read_json(path, chunksize, end_chunk):
  file = open(path)
  
  i=chunksize
  j_obj = []
  for line in file:
    data = line.replace('\n','')
    j_obj.append(json.dumps(ast.literal_eval(data)))
    if(i==end_chunk):
      break
    i=i+1
  
  with open("newfile.json", "w") as outfile:
    for line in j_obj:
      outfile.write(line)
      outfile.write("\n")

  with open("newfile.json", "r") as jsonfile:
    df = pd.read_json(jsonfile, orient="records", lines=True)
  
  return df

In [ ]:
def remove_none_values(df):
  df = df.replace(to_replace='None', value=np.nan).dropna()
  return df

In [ ]:
users_df = clean_and_read_json(path)

In [ ]:
users_df.head()

,userName,jobs,currentPlace,previousPlaces,education,gPlusUserId
0,an lam,"[[T·ªïng c√¥ng ty IDICO, Chuy√™n vi√™n K·ªπ thu·∫≠t XD,...","[Th√†nh ph·ªë H·ªì Ch√≠ Minh, Vi·ªát Nam, [[], 1082309...","[[tp. Nam ƒê·ªãnh, Nam ƒê·ªãnh, Vi·ªát Nam, [[], 20420...","[[[], [], [], [], [], 6], [[ƒê·∫°i h·ªçc Ki·∫øn tr√∫c ...",1.000000e+20
1,HALƒ∞L TURGUT,"[[Mustafa Nevzat ƒ∞la√ß San. A.≈û., Rebrezant, []...","[Adana, [[], 370000000, 353213330, 1]]",None,"[[[], [], [], [], [], 6], [[Anadolu University...",1.000000e+20
2,Ê£ÆÁî∞„Åï„Å®„Åì,None,None,None,"[[[], [], [], [], [], 6], []]",1.000000e+20
3,amey kore,None,None,None,"[[[], [], [], [], [], 6], []]",1.000000e+20
4,william spindler,None,None,None,"[[[], [], [], [], [], 6], []]",1.000000e+20

In [ ]:
users_df.columns

Index(['userName', 'jobs', 'currentPlace', 'previousPlaces', 'education',
       'gPlusUserId'],
      dtype='object')

In [ ]:
users_df = remove_none_values(users_df)

#Preprocessing of "places.json"

In [ ]:
f = open('/content/gdrive/Shareddrives/RS/LA02/RS_2_final/places.json')
# data = json.load(f) 
x = f.readlines()

In [ ]:
print(len(x))

3114353

In [ ]:
dict_20L = {}
for i in range(0,1500000):
  d = eval(x[i])
  dict_20L[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(dict_20L, orient ='index')

In [ ]:
df1=df1.drop("price",axis='columns')

dropping prices as it has approx 14L null values in 15L chunks

In [ ]:
df1 = df1.loc[~df1['gps'].isnull()]

In [ ]:
df1 = df1.loc[~df1['phone'].isnull()]

In [ ]:
df1 = df1.loc[~df1['hours'].isnull()]

In [ ]:
nan=df1.isna().sum()
print(nan)

name            0
address         0
hours           0
phone           0
closed          0
gPlusPlaceId    0
gps             0
dtype: int64

In [ ]:
df1.to_csv("/content/gdrive/Shareddrives/RS/LA02/Places/places1.csv")

###For range (1500001,3114353)

In [ ]:
dict_20L = {}
for i in range(1500001,3114353):
  d = eval(x[i])
  dict_20L[i] = d

In [ ]:
df2 = pd.DataFrame.from_dict(dict_20L, orient ='index')

In [ ]:
df2=df2.drop("price",axis='columns')

dropping prices as it has approx 14L null values in 15L chunks

In [ ]:
df2 = df2.loc[~df2['gps'].isnull()]

In [ ]:
df2 = df2.loc[~df2['phone'].isnull()]

In [ ]:
df2 = df2.loc[~df2['hours'].isnull()]

In [ ]:
nan=df2.isna().sum()
print(nan)

name            0
address         0
hours           0
phone           0
closed          0
gPlusPlaceId    0
gps             0
dtype: int64

In [ ]:
df2.to_csv("/content/gdrive/Shareddrives/RS/LA02/Places/places2.csv")

In [ ]:
dfnew1=pd.read_csv('/content/gdrive/Shareddrives/RS/LA02/Places/places1.csv')

In [ ]:
dfnew2=pd.read_csv('/content/gdrive/Shareddrives/RS/LA02/Places/places2.csv')

In [ ]:
frames = [dfnew1, dfnew2]
result = pd.concat(frames, axis=0)
result.shape

(1341688, 8)

In [ ]:
result.head()

,Unnamed: 0,name,address,hours,phone,closed,gPlusPlaceId,gps
0,1500000,Pep Boys Auto Parts & Service,"['7625 N Academy Blvd', 'Colorado Spgs, CO 809...","[['Monday', [['8:00 am--8:00 pm']]], ['Tuesday...",(719) 599-4455,False,106604455956312584856,"[38.94162, -104.797586]"
1,1500001,Acclaim Hearing Center,"['110', '7321 W Charleston Blvd', 'Las Vegas, ...","[['Monday', [['9:00 am--5:00 pm']]], ['Tuesday...",(702) 363-2336,False,108865044857061260547,"[36.159274, -115.278781]"
2,1500005,Zooland Park,"['Route de Cazaux', '33260 La Teste-de-Buch', ...","[['Monday', [['10:00 am--7:00 pm']]], ['Tuesda...",05 56 54 71 44,False,102023846774373264702,"[44.585871, -1.136379]"
3,1500006,BlueChip Software GmbH,"['Hochtennstra√üe 30', '5700 Zell am See', 'Aus...","[['Monday', [['8:00 am--12:00 pm'], ['1:00--5:...",06542 575840,False,110328490284324713981,"[47297029.0, 12798235.0]"
4,1500014,Cupolens Gatuk√∂k & Kiosk,"['Majgatan 1', '582 46 Link√∂ping', 'Sweden']","[['Monday', [['11:00 am--10:00 pm']]], ['Tuesd...",013-10 35 37,False,116680537008710602604,"[58.407777, 15.590062]"

In [ ]:
result.to_csv('/content/gdrive/Shareddrives/RS/LA02/Places/Final_places.csv')